@import "base";
body{
	background-color:$lightGrey;
}
header{
	overflow:hidden;
	.container{
		width:96rem;
		-webkit-animation:banner 20s cubic-bezier(1, 0, .5, 0) infinite;
		a{
			float:left;
			display:block;
			width:16rem;
			height:6rem;
			background-size:16rem 6rem;
		}
	}
}
@-webkit-keyframes banner{
	0%, 20%{
		-webkit-transform:translateX(0);
	}
	25%, 45%{
		-webkit-transform:translateX(-16rem);
	}
	50%, 70%{
		-webkit-transform:translateX(-32rem);
	}
	75%, 95%{
		-webkit-transform:translateX(-48rem);
	}
	100%{
		-webkit-transform:translateX(-64rem);
	}
}
form{
	float:left;
	padding:0 1.35rem;
	width:16rem;
	.mobile{
		background-image:$mobile;
	}
	.password{
		background-image:$password;
	}
	.captcha{
		background-image:$captcha;
	}
	.invitor{
		background-image:$invitor;
	}
	> a{
		float:right;
		margin-top:.5rem;
		font-size:.55rem;
		color:$grey;
	}
	p{
		float:left;
		margin-top:.5rem;
		font-size:.55rem;
		span{
			color:$grey;
		}
		a{
			color:$blue;
		}
	}
	label{
		float:left;
		margin-top:.5rem;
		font-size:.55rem;
		span{
			color:$grey;
		}
		b{
			color:$orange;
		}
	}
	.longBtn{
		float:left;
		margin-top:.5rem;
	}
}