@import "variable";
@import "reset";
body > div, header, footer{
	float:left;
	width:16rem;
}
footer{
	position:fixed;
	bottom:0;
	height:3rem;
	background-color:white;
	border-top:.025rem solid $grey;
	a{
		float:left;
		display:block;
		width:4rem;
		height:100%;
		text-align:center;
		i{
			margin:.5rem auto 0;
			width:.95rem;
			height:.95rem;
			background-size:.95rem .95rem;
		}
		
		span{
			font-size:.6rem;
			color:$darkGrey;
		}
	}
	a:first-of-type{
		i{
			background-image:$home0;
		}
	}
	a:nth-of-type(2){
		i{
			background-image:$product0;
		}
	}
	a:nth-of-type(3){
		i{
			background-image:$account0;
		}
	}
	a:last-of-type{
		i{
			background-image:$more0;
		}
	}
	a:first-of-type.current{
		i{
			background-image:$home1;
		}
	}
	a:nth-of-type(2).current{
		i{
			background-image:$product1;
		}
	}
	a:nth-of-type(3).current{
		i{
			background-image:$account1;
		}
	}
	a:last-of-type.current{
		i{
			background-image:$more1;
		}
	}
	a.current{
		span{
			color:$orange;
		}
	}
}
.loading{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-.125rem;
	margin-left:-.125rem;
	width:0.25rem;
	height:0.25rem;
	box-shadow:.70711rem .70711rem 0 0 #2ecc71,
		-.70711rem .70711rem 0 .17678rem #9b59b6,
		-.70711rem -.70711rem 0 .25rem #3498db,
		.70711rem -.70711rem 0 .17678rem #f1c40f;
	animation:gw 1s ease-in-out infinite,
		rot 2.8s linear infinite;
}
@-webkit-keyframes rot{
	to{
		-webkit-transform:rotate(360deg);
	}
}
@-webkit-keyframes gw{
	0%{
		box-shadow:.70711rem .70711rem 0 .125rem #2ecc71,
			-.70711rem .70711rem 0 .39017rem #9b59b6,
			-.70711rem -.70711rem 0 .5rem #3498db,
			.70711rem -.70711rem 0 .39017rem #f1c40f;
	}
	25%{
		box-shadow:.70711rem 0.70711rem 0 .39017rem #2ecc71,
			-.70711rem .70711rem 0 .5rem #9b59b6,
			-.70711rem -.70711rem 0 .39017rem #3498db,
			.70711rem -.70711rem 0 .125rem #f1c40f;
	}
	50%{
		box-shadow:.70711rem .70711rem 0 .5rem #2ecc71,
			-.70711rem .70711rem 0 .39017rem #9b59b6,
			-.70711rem -.70711rem 0 .125rem #3498db,
			.70711rem -.70711rem 0 .39017rem #f1c40f;
	}
	75%{
		box-shadow:.70711rem .70711rem 0 .39017rem #2ecc71,
			-.70711rem .70711rem 0 .125rem #9b59b6,
			-.70711rem -.70711rem 0 .39017rem #3498db,
			.70711rem -.70711rem 0 .5rem #f1c40f;
	}
	100%{
		box-shadow:.70711rem .70711rem 0 .125rem #2ecc71,
			-.70711rem .70711rem 0 .39017rem #9b59b6,
			-.70711rem -.70711rem 0 .5rem #3498db,
			.70711rem -.70711rem 0 .39017rem #f1c40f;
	}
}