@import "variable";
@import "reset";
// @mixin shortcutBG($i, $name:"shortcut"){
// 	a:nth-of-type(#{$i}){
// 		i{
// 			background-image:map-get($shortcut, $i);
// 		}
// 	}
// }
body{
	position:relative;
	padding-top:2.3rem;
	opacity:0;
}
body:before{
	position:absolute;
	top:0;
	left:0;
	width:16rem;
	height:2.3rem;
	background-color:rgb(45, 44, 52);
	content:"标题";
	font-size:.8rem;
	font-weight:bold;
	color:white;
	letter-spacing:.2rem;
	line-height:2.3rem;
	text-align:center;
}
body:after{
	position:absolute;
	top:.75rem;
	left:.85rem;
	width:.545rem;
	height:.8rem;
	background-image:$nextStep;
	background-size:.545rem .8rem;
	-webkit-transform:rotate(180deg);
	content:"";
	-webkit-filter:brightness(10);
}
.longBtn{
	margin:0 auto;
	display:block;
	width:13.3rem;
	height:1.6rem;
	background-color:$orange;
	font-size:.75rem;
	color:white;
	line-height:1.6rem;
	text-align:center;
	border-radius:.25rem;
}
.shortBtn{
	float:right;
	margin-top:.625rem;
	width:3.85rem;
	display:block;
	height:1.6rem;
	background-color:$orange;
	font-size:.75rem;
	color:white;
	line-height:1.6rem;
	text-align:center;
	border-radius:.25rem;
}
.longInput{
	float:left;
	margin-top:.625rem;
	display:block;
	width:13.3rem;
	height:1.6rem;
	background-color:white;
	background-position:.4rem .4rem;
	background-repeat:no-repeat;
	background-size:.75rem .75rem;
	font-size:.65rem;
	line-height:1.55rem;
	color:$darkGrey;
	border:solid .025rem $bitGrey;
	border-radius:.25rem;
	text-indent:1.55rem;
}
.shortInput{
	float:left;
	margin-top:.625rem;
	display:block;
	width:9.25rem;
	height:1.6rem;
	background-color:white;
	background-position:.4rem .4rem;
	background-repeat:no-repeat;
	background-size:.75rem .75rem;
	font-size:.65rem;
	line-height:1.55rem;
	color:$darkGrey;
	border:solid .025rem $bitGrey;
	border-radius:.25rem;
	text-indent:1.55rem;
}
.ckb{
	float:left;
}
.warning{
	font-size:.65rem;
	line-height:1.15rem;
	background-color:rgba(0, 0, 0, .45);
}
body > div, header, menu{
	float:left;
	width:16rem;
}
menu{
	display:-webkit-flex;
	height:2.15rem;
	a{
		float:left;
		display:block;
		-webkit-flex:1;
		height:100%;
	}
}
menu.footer{
	position:fixed;
	bottom:0;
	background-color:white;
	border-top:.025rem solid $grey;
	z-index:1;
	a{
		text-align:center;
		i{
			margin:.2rem auto -.2rem;
			width:.95rem;
			height:.95rem;
			background-size:.95rem .95rem;
		}
		span{
			font-size:.55rem;
			color:$darkGrey;
		}
	}
	a:first-of-type{
		i{
			background-image:$shortcut1_0;
		}
	}
	a:nth-of-type(2){
		i{
			background-image:$shortcut2_0;
		}
	}
	a:nth-of-type(3){
		i{
			background-image:$shortcut3_0;
		}
	}
	a:last-of-type{
		i{
			background-image:$shortcut4_0;
		}
	}
	a:first-of-type.current{
		i{
			background-image:$shortcut1_1;
		}
	}
	a:nth-of-type(2).current{
		i{
			background-image:$shortcut2_1;
		}
	}
	a:nth-of-type(3).current{
		i{
			background-image:$shortcut3_1;
		}
	}
	a:last-of-type.current{
		i{
			background-image:$shortcut4_1;
		}
	}
	a.current{
		span{
			color:$orange;
		}
	}
}
.loading{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-.125rem;
	margin-left:-.125rem;
	width:0.25rem;
	height:0.25rem;
	box-shadow:.70711rem .70711rem 0 0 #2ecc71,
		-.70711rem .70711rem 0 .17678rem #9b59b6,
		-.70711rem -.70711rem 0 .25rem #3498db,
		.70711rem -.70711rem 0 .17678rem #f1c40f;
	animation:gw 1s ease-in-out infinite,
		rot 2.8s linear infinite;
}
.shadow{
	position:fixed;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, .7);
}
@-webkit-keyframes rot{
	to{
		-webkit-transform:rotate(360deg);
	}
}
@-webkit-keyframes gw{
	0%{
		box-shadow:.70711rem .70711rem 0 .125rem #2ecc71,
			-.70711rem .70711rem 0 .39017rem #9b59b6,
			-.70711rem -.70711rem 0 .5rem #3498db,
			.70711rem -.70711rem 0 .39017rem #f1c40f;
	}
	25%{
		box-shadow:.70711rem 0.70711rem 0 .39017rem #2ecc71,
			-.70711rem .70711rem 0 .5rem #9b59b6,
			-.70711rem -.70711rem 0 .39017rem #3498db,
			.70711rem -.70711rem 0 .125rem #f1c40f;
	}
	50%{
		box-shadow:.70711rem .70711rem 0 .5rem #2ecc71,
			-.70711rem .70711rem 0 .39017rem #9b59b6,
			-.70711rem -.70711rem 0 .125rem #3498db,
			.70711rem -.70711rem 0 .39017rem #f1c40f;
	}
	75%{
		box-shadow:.70711rem .70711rem 0 .39017rem #2ecc71,
			-.70711rem .70711rem 0 .125rem #9b59b6,
			-.70711rem -.70711rem 0 .39017rem #3498db,
			.70711rem -.70711rem 0 .5rem #f1c40f;
	}
	100%{
		box-shadow:.70711rem .70711rem 0 .125rem #2ecc71,
			-.70711rem .70711rem 0 .39017rem #9b59b6,
			-.70711rem -.70711rem 0 .5rem #3498db,
			.70711rem -.70711rem 0 .39017rem #f1c40f;
	}
}