@import "base";
body{
	background-color:$lightGrey;
}
.detail{
	margin-top:.4rem;
	> div{
		h1{
			position:relative;
			height:1.9rem;
			padding-right:.85rem;
			background-color:white;
			overflow:auto;
			font-size:.6rem;
			line-height:1.875rem;
			text-indent:.85rem;
			white-space:nowrap;
			text-overflow:ellipsis;
			span{
				color:$darkGrey;
			}
			em{
				float:right;
				color:$grey;
			}
		}
		> h1:not(:last-of-type):before{
			position:absolute;
			top:1.875rem;
			left:.85rem;
			width:15.15rem;
			border-bottom:solid .025rem $bitGrey;
			content:"";
		}
		h1:last-of-type{
			box-shadow:0 .025rem .025rem $bitGrey;
		}
	}
	> div:not(:last-of-type){
		> h1:before{
			position:absolute;
			top:1.875rem;
			left:.85rem;
			width:15.15rem;
			border-bottom:solid .025rem $bitGrey;
			content:"";
		}
	}
}
.longBtn{
	float:left;
	margin:.5rem 1.35rem 0;
}