@import "base";
body{
	background-color:$lightGrey;
}
.detail{
	margin-top:.4rem;
	> div{
		h1{
			position:relative;
			height:1.9rem;
			padding-right:.85rem;
			background-color:white;
			overflow:auto;
			font-size:.6rem;
			line-height:1.875rem;
			text-indent:.85rem;
			white-space:nowrap;
			text-overflow:ellipsis;
			span{
				margin-left:1rem;
				color:$darkGrey;
			}
			em{
				float:right;
				color:$grey;
			}
		}
		> h1:not(:last-of-type):before{
			position:absolute;
			top:1.875rem;
			left:.85rem;
			width:15.15rem;
			border-bottom:solid .025rem $bitGrey;
			content:"";
		}
		h1:after{
			position:absolute;
			top:.575rem;
			left:.85rem;
			width:.75rem;
			height:.75rem;
			background-size:.75rem .75rem;
			content:"";
		}
		h1:last-of-type{
			box-shadow:0 .025rem .025rem $bitGrey;
		}
	}
	> div:not(:last-of-type){
		> h1:before{
			position:absolute;
			top:1.875rem;
			left:.85rem;
			width:15.15rem;
			border-bottom:solid .025rem $bitGrey;
			content:"";
		}
	}
}
.name:after{
	background-image:$name;
}
.idCard:after{
	background-image:$idCard;
}
.ICBC:after{
	background-image:$ICBC;
}
.ABC:after{
	background-image:$ABC;
}
.CCB:after{
	background-image:$CCB;
}
.CMBCD:after{
	background-image:$CMBCD;
}
.BOCSH:after{
	background-image:$BOCSH;
}
.CMB:after{
	background-image:$CMB;
}
.CIB:after{
	background-image:$CIB;
}
.CEB:after{
	background-image:$CEB;
}
.GDB:after{
	background-image:$GDB;
}
.CNCB:after{
	background-image:$CNCB;
}
.PINGAN:after{
	background-image:$PINGAN;
}
.POSTGC:after{
	background-image:$POSTGC;
}
.COMM:after{
	background-image:$COMM;
}
.SPDB:after{
	background-image:$SPDB;
}
.HXB:after{
	background-image:$HXB;
}
.longBtn{
	float:left;
	margin:.5rem 1.35rem 0;
}