@import "base";
body{
	background-color:$lightGrey;
	> img{
		width:16rem;
	}
}
.rule{
	display:block;
	width:16rem;
	height:6rem;
	background-size:16rem 6rem;
}
.rule.bonus{
	background-image:$img_bonus;
}
.rule.interest{
	background-image:$img_interest;
}
menu{
	a{
		background-color:white;
		font-size:.65rem;
		line-height:2.15rem;
		color:$darkGrey;
		text-align:center;
	}
	a.current{
		color:$orange;
		border-bottom:.1rem solid $orange;
	}
}
.content{
	margin-top:.4rem;
	background-color:white;
	section{
		float:left;
		padding:.9rem .85rem;
		background-repeat:no-repeat;
		background-position:.9rem .85rem;
		background-size:3.5rem 1.6rem;
		border-bottom:.025rem solid $bitGrey;
		b{
			float:left;
			display:block;
			width:1.2rem;
			font-size:1rem;
			font-weight:bold;
			line-height:1.6rem;
			color:white;
			text-align:center;
			letter-spacing:-.05rem;
			-webkit-transform:scale(1, .8);
		}
		p{
			float:left;
			width:10.6rem;
		}
		p:first-of-type{
			margin-top:.075rem;
			font-size:.55rem;
			color:$darkGrey;
		}
		p:last-of-type{
			margin-top:.25rem;
			font-size:.5rem;
			color:$grey;
			span{
				float:left;
			}
			em{
				float:right;
			}
		}
	}
}
.content.bonus{
	section{
		b{
			margin:0 2.1rem 0 .4rem;
		}
	}
}
.content.bonus.available{
	section{
		background-image:$bonusAvailable;
	}
}
.content.bonus.unavailable{
	section{
		background-image:$bonusUnavailable;
	}
}
.content.interest{
	section{
		b{
			margin:0 2.3rem 0 .2rem;
		}
	}
}
.content.interest.available{
	section{
		background-image:$interestAvailable;
	}
}
.content.interest.unavailable{
	section{
		background-image:$interestUnavailable;
	}
}
.default{
	margin:5rem auto;
}