@import "base";
header{
	overflow:hidden;
	.container{
		width:96rem;
		-webkit-animation:banner 20s cubic-bezier(1, 0, .5, 0) infinite;
		a{
			float:left;
			display:block;
			width:16rem;
			height:6rem;
			background-size:16rem 6rem;
		}
	}
}
menu.menu_3col_anchor{
	float:left;
	border-bottom:.025rem solid $grey;
	a{
		position:relative;
		i{
			float:left;
			margin:.575rem .5rem;
			width:1rem;
			height:1rem;
			background-size:1rem 1rem;
		}
		span{
			font-size:.55rem;
			line-height:2.15rem;
		}
	}
	a:nth-of-type(1){
		i{
			background-image:$bonus;
		}
	}
	a:nth-of-type(2){
		i{
			background-image:$activity;
		}
	}
	a:nth-of-type(3){
		i{
			background-image:$sign;
		}
	}
	a:nth-of-type(1):after, a:nth-of-type(2):after{
		position:absolute;
		top:.225rem;
		right:0;
		content:"";
		height:1.7rem;
		border-right:solid .025rem $grey;
	}
}
.product{
	position:relative;
	float:left;
	padding-top:1.325rem;
	width:16rem;
	height:14rem;
	overflow:hidden;
	.container{
		width:48rem;
	}
	.info{
		display:inline-block;
		width:16rem;
		overflow:hidden;
		-webkit-animation:slideOut 1s linear forwards;
		.bg{
			position:relative;
			margin:.675rem auto 0;
			width:5.8rem;
			height:5.8rem;
			background-color:$orange;
			border-radius:50%;
			-webkit-animation:rotate 3.1415926535898s linear infinite;
		}
		.bg:before{
			position:absolute;
			top:-.5rem;
			left:-.5rem;
			width:6.8rem;
			height:6.8rem;
			content:"";
			border:.05rem solid $orange;
			opacity:.7;
			border-radius:50%;
		}
		.bg:after{
			position:absolute;
			top:2.625rem;
			left:-.675rem;
			width:.35rem;
			height:.35rem;
			background-color:$orange;
			content:"";
			border-radius:50%;
		}
		.circle{
			position:relative;
			margin:-5.8rem auto 0;
			padding-top:1rem;
			width:5.8rem;
			height:5.8rem;
			color:white;
			text-align:center;
			h1{
				margin:0 .5rem;
				line-height:2.5rem;
				border-bottom:.025rem solid white;
				strong{
					font-size:2.5rem;
				}
				em{
					font-size:.85rem;
				}
			}
			h2{
				font-size:.55rem;
				line-height:1.5rem;
			}
		}
		ul{
			margin-top:.5rem;
			padding:.8rem 0;
			text-align:center;
			li{
				margin-right:.2rem;
				display:inline-block;
				padding:.1rem;
				font-size:.55rem;
				color:$darkGrey;
				text-align:center;
				border:.025rem solid $darkGrey;
				border-radius:.3rem;
			}
		}
	}
	.info.current{
		-webkit-animation:slideIn 1s linear forwards;
	}
	.prev, .next{
		position:absolute;
		top:3.95rem;
		width:.725rem;
		height:1.825rem;
		background-size:.725rem 1.825rem;
	}
	.prev{
		left:1.35rem;
		background-image:$prev;
	}
	.next{
		right:1.35rem;
		background-image:$next;
	}
	.btnBuy{
		position:relative;
		margin:0 auto;
		display:block;
		width:13.3rem;
		height:1.6rem;
		background-color:$orange;
		font-size:.75rem;
		color:white;
		line-height:1.6rem;
		text-align:center;
		border-radius:.3rem;
	}
	.btnBuy:before{
		position:absolute;
		top:-.1rem;
		right:-.1rem;
		display:block;
		content:"";
		width:1.4rem;
		height:1.4rem;
		background-image:$sinosig;
		background-size:1.4rem 1.4rem;
	}
	.btnBuy:after{
		position:absolute;
		top:2.1rem;
		left:0;
		width:13.3rem;
		content:"账户资金安全由阳光保险100％承保";
		font-size:.5rem;
		line-height:1;
		color:$bitGrey;
		text-align:center;
	}
}
@-webkit-keyframes banner{
	0%, 20%{
		-webkit-transform:translateX(0);
	}
	25%, 45%{
		-webkit-transform:translateX(-16rem);
	}
	50%, 70%{
		-webkit-transform:translateX(-32rem);
	}
	75%, 95%{
		-webkit-transform:translateX(-48rem);
	}
	100%{
		-webkit-transform:translateX(-64rem);
	}
}
@-webkit-keyframes rotate{
	to{
		-webkit-transform:rotate(360deg);
	}
}
@-webkit-keyframes slideIn{
	from{
		-webkit-transform:translateX(16rem);
		opacity:0;
	}
	to{
		-webkit-transform:translateX(0);
		opacity:1;
	}
}
@-webkit-keyframes slideOut{
	from{
		-webkit-transform:translateX(0);
	}
	to{
		-webkit-transform:translateX(-16rem);
		opacity:0;
	}
}