@import "base";
header{
	overflow:hidden;
	.container{
		width:96rem;
		-webkit-animation:banner 20s cubic-bezier(1, 0, .5, 0) infinite;
		a{
			float:left;
			display:block;
			width:16rem;
			height:6rem;
			background-size:16rem 6rem;
		}
	}
}
menu.menu_3col_anchor{
	float:left;
	border-bottom:.025rem solid $grey;
	a{
		i{
			float:left;
			margin:.575rem .5rem;
			width:1rem;
			height:1rem;
			background-size:1rem 1rem;
		}
		span{
			font-size:.55rem;
			line-height:2.15rem;
		}
	}
	a:nth-of-type(1){
		border-right:solid .025rem $grey;
		i{
			background-image:$bonus;
		}
	}
	a:nth-of-type(2){
		border-right:solid .025rem $grey;
		i{
			background-image:$activity;
		}
	}
	a:nth-of-type(3){
		i{
			background-image:$sign;
		}
	}
}
@-webkit-keyframes banner{
	0%, 20%{
		-webkit-transform:translateX(0);
	}
	25%, 45%{
		-webkit-transform:translateX(-16rem);
	}
	50%, 70%{
		-webkit-transform:translateX(-32rem);
	}
	75%, 95%{
		-webkit-transform:translateX(-48rem);
	}
	100%{
		-webkit-transform:translateX(-64rem);
	}
}