@import "variable";
@import "base";
section{
	margin-bottom:.4rem;
	padding:.65rem .85rem .65rem;
	width:16rem;
	height:auto;
	overflow:hidden;
	background-color:white;
	box-shadow:0 .025rem .025rem 0 $bitGrey;
	> h1{
		height:1rem;
		overflow:hidden;
		font-size:.65rem;
		font-weight:bold;
		line-height:1rem;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	> h1:before{
		margin-right:.5rem;
		content:"\2022";
		font-weight:bold;
		color:$grey;
	}
	> p{
		margin-top:.45rem;
		font-size:.55rem;
		line-height:.8rem;
		color:$darkGrey;
		overflow:hidden;
		text-overflow:ellipsis;
		display:-webkit-box;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:2;
	}
	> span{
		float:right;
		margin-top:.3rem;
		font-size:.55rem;
		color:$grey;
	}
}
section.unread{
	h1:before{
		color:$orange;
	}
	span{
		color:$orange;
	}
}
section.detail{
	height:auto;
	background-color:transparent;
	border:none;
	box-shadow:none;
	> h1{
		margin-top:1.25rem;
		text-align:center;
	}
	> h1:before{
		margin:0;
		content:"";
	}
	> h2{
		margin-top:.75rem;
		font-size:.5rem;
		color:$grey;
		text-align:center;
	}
	> div.detail{
		margin-top:.75rem;
		font-size:.65rem;
		> p{
			line-height:1.5;
		}
	}
	> span{
		margin-top:.75rem;
		font-size:.5rem;
	}
}