@import "variable";
@import "base";
body{
	float:left;
	margin-bottom:3rem;
	background-color:$lightGrey;
}
.info{
	padding-top:4.4rem;
	height:6rem;
	background-color:$orange;
	font-size:.55rem;
	color:white;
	text-align:center;
}
.info.common{
	background-image:$common;
	background-repeat:no-repeat;
	background-position:50% 1rem;
}
.info.jadeite{
	background-image:$jadeite;
	background-repeat:no-repeat;
	background-position:50% 1rem;
}
.info.platinum{
	background-image:$platinum;
	background-repeat:no-repeat;
	background-position:50% 1rem;
}
.info.diamond{
	background-image:$diamond;
	background-repeat:no-repeat;
	background-position:50% 1rem;
}
.menu_3col_infoAnchor{
	float:left;
	background-color:$darkOrange;
	box-shadow:0 .025rem .025rem $bitGrey;
	a{
		position:relative;
		color:white;
		text-align:center;
		h1{
			margin-top:.4rem;
			font-size:.55rem;
		}
		h2{
			margin-top:.1rem;
			font-size:.75rem;
		}
	}
	a:nth-of-type(1):after, a:nth-of-type(2):after{
		position:absolute;
		top:.225rem;
		right:0;
		content:"";
		height:1.7rem;
		border-right:solid .025rem white;
	}
}
.entrance{
	margin-top:.4rem;
	background-color:white;
	.option{
		float:left;
		display:block;
		box-sizing:content-box;
		width:5.3rem;
		height:4.5rem;
		text-align:center;
		i{
			margin:1.4rem auto 0;
			width:.95rem;
			height:.95rem;
			background-size:.95rem .95rem;
		}
		span{
			font-size:.55rem;
			color:$darkGrey;
		}
	}
	@for $i from 0 to 9{
		@if $i % 3 != 0{
			.option:nth-of-type(#{$i}){
				border-right:solid .05rem $lightGrey;
			}
		}
	}
	@for $i from 0 to 6{
		.option:nth-of-type(#{$i+1}){
			border-bottom:solid .05rem $lightGrey;
		}
	}
	.account{
		i{
			background-image:$account;
		}
	}
	.record{
		i{
			background-image:$record;
		}
	}
	.score{
		i{
			background-image:$score;
		}
	}
	.bonus{
		i{
			background-image:$bonus;
		}
	}
	.ticket{
		i{
			background-image:$ticket;
		}
	}
	.invitation{
		i{
			background-image:$invitation;
		}
	}
	.safty{
		i{
			background-image:$safty;
		}
	}
	.infoCenter{
		i{
			background-image:$infoCenter;
		}
	}
}