@import "variable";
@import "base";
body, section{
	background-color:$lightGrey;
	h1{
		position:relative;
		height:1.9rem;
		padding-right:1.5rem;
		background-color:white;
		overflow:auto;
		font-size:.6rem;
		line-height:1.875rem;
		color:$darkGrey;
		text-indent:.85rem;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	> h1:after{
		position:absolute;
		top:.6625rem;
		right:.85rem;
		width:.375rem;
		height:.55rem;
		content:"";
		background-image:$nextStep;
		background-size:.375rem .55rem;
	}
	> h1:not(:last-of-type):before{
		position:absolute;
		top:1.875rem;
		left:.85rem;
		width:15.15rem;
		border-bottom:solid .025rem $bitGrey;
		content:"";
	}
	h1:last-of-type{
		box-shadow:0 .025rem .025rem $bitGrey;
	}
}
section:not(:last-of-type){
	> h1:before{
		position:absolute;
		top:1.875rem;
		left:.85rem;
		width:15.15rem;
		border-bottom:solid .025rem $bitGrey;
		content:"";
	}
}
header{
	height:6rem;
	background-color:$orange;
	background-image:$logo;
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.description{
	margin-top:.4rem;
	padding-bottom:.4rem;
	background-color:white;
	border-bottom:solid .025rem $bitGrey;
	p{
		padding:.4rem .85rem;
		font-size:.55rem;
		word-wrap:break-word;
		line-height:1rem;
		color:$grey;
	}
	img{
		margin:0 .85rem;
		width:14.3rem;
		height:5.45rem;
	}
}
section{
	p{
		height:0;
		word-wrap:break-word;
		font-size:0;
		line-height:1rem;
		color:$grey;
		a{
			color:$blue;
		}
	}
}
.current{
	h1:after{
		background-image:none;
	}
	p{
		-webkit-animation:slideDown .25s forwards;
	}
}
textarea{
	margin:.4rem 0;
	padding:0 .85rem;
	width:16rem;
	height:6rem;
	background-color:white;
	font-size:.5rem;
	line-height:1rem;
	box-shadow:0 .025rem .025rem $bitGrey;
}
.tel{
	margin:.4rem 0;
	padding:1rem 0;
	background-color:white;
	box-shadow:0 .025rem .025rem 0 $bitGrey;
	h2{
		font-size:1.1rem;
		color:$orange;
		text-align:center;
	}
	p{
		font-size:.55rem;
		line-height:1.55rem;
		color:$grey;
		text-align:center;
	}
}
h1.withIcon{
	i{
		margin-right:.6rem;
		display:inline-block;
		width:.9rem;
		height:.9rem;
		background-size:.9rem .9rem;
		vertical-align:middle;
		content:"";
	}
}
h1.withIcon:nth-of-type(1), h1.withIcon:nth-of-type(2){
	i{
		background-image:$wechat;
	}
}
h1.withIcon:nth-of-type(3){
	i{
		background-image:$microblog;
	}
}
h1.withIcon:nth-of-type(4){
	i{
		background-image:$qq;
	}
}
@-webkit-keyframes slideDown{
	to{
		height:auto;
		padding:.4rem .85rem;
		font-size:.55rem;
	}
}