@import "base";
:root{
	background-color:$lightGrey;
}
.form{
	float:left;
	padding:0 1.35rem;
	.select{
		position:relative;
	}
	.select:after{
		position:absolute;
		top:.5rem;
		right:.25rem;
		width:.375rem;
		height:.55rem;
		content:"";
		background-image:$nextStep;
		background-size:.375rem .55rem;
	}
	input.longInput:first-of-type{
		margin-top:1.25rem !important;
	}
	.payBonus{
		background-image:$payBonus;
	}
	.payInterest{
		background-image:$payInterest;
	}
	.bank{
		background-image:$bank;
	}
	.mobile{
		background-image:$mobile;
	}
	.trueName{
		background-image:$trueName;
	}
	.captcha{
		background-image:$captcha;
	}
	> a{
		float:right;
		margin-top:.5rem;
		font-size:.55rem;
		color:$grey;
	}
	p{
		float:left;
		margin-top:.5rem;
		width:100%;
		font-size:.55rem;
		text-align:center;
		span{
			color:$grey;
		}
		a{
			color:$blue;
		}
	}
	label{
		float:left;
		margin-top:.5rem;
		margin-left:.25rem;
		font-size:.55rem;
		span{
			color:$grey;
		}
		b{
			color:$orange;
		}
	}
	.longBtn{
		float:left;
		margin-top:.5rem;
	}
}
.content{
	section{
		float:left;
		margin-bottom:.4rem;
		padding:.9rem .85rem;
		background-color:white;
		background-repeat:no-repeat;
		background-position:.9rem .85rem;
		background-size:3.5rem 1.6rem;
		box-shadow:0 .025rem .025rem $bitGrey;
		b{
			float:left;
			display:block;
			width:1.2rem;
			font-size:1rem;
			font-weight:bold;
			line-height:1.6rem;
			color:white;
			text-align:center;
			letter-spacing:-.05rem;
			-webkit-transform:scale(1, .8);
		}
		p{
			float:left;
			width:10.6rem;
		}
		p:first-of-type{
			margin-top:.075rem;
			font-size:.55rem;
			color:$darkGrey;
		}
		p:last-of-type{
			margin-top:.25rem;
			font-size:.5rem;
			color:$grey;
			span{
				float:left;
			}
			em{
				float:right;
			}
		}
	}
}
.content.bonus{
	section{
		b{
			margin:0 2.1rem 0 .4rem;
		}
	}
}
.content.bonus.available{
	section{
		background-image:$bonusAvailable;
	}
}
.content.bonus.unavailable{
	section{
		background-image:$bonusUnavailable;
	}
}
.content.interest{
	section{
		b{
			margin:0 2.3rem 0 .2rem;
		}
	}
}
.content.interest.available{
	section{
		background-image:$interestAvailable;
	}
}
.content.interest.unavailable{
	section{
		background-image:$interestUnavailable;
	}
}
.default{
	margin:9rem auto;
}
.bank{
	a{
		position:relative;
		display:block;
		height:1.9rem;
		padding-right:.85rem;
		background-color:white;
		overflow:auto;
		font-size:.6rem;
		line-height:1.875rem;
		text-indent:.85rem;
		white-space:nowrap;
		text-overflow:ellipsis;
		span{
			margin-left:1rem;
			color:$darkGrey;
		}
		em{
			float:right;
			color:$grey;
		}
	}
	a:not(:last-of-type):before{
		position:absolute;
		top:1.875rem;
		left:.85rem;
		width:15.15rem;
		border-bottom:solid .025rem $bitGrey;
		content:"";
	}
	a:after{
		position:absolute;
		top:.575rem;
		left:.85rem;
		width:.75rem;
		height:.75rem;
		background-size:.75rem .75rem;
		content:"";
	}
	a:last-of-type{
		box-shadow:0 .025rem .025rem $bitGrey;
	}
}
.ICBC:after{
	background-image:$ICBC;
}
.ABC:after{
	background-image:$ABC;
}
.CCB:after{
	background-image:$CCB;
}
.CMBCD:after{
	background-image:$CMBCD;
}
.BOCSH:after{
	background-image:$BOCSH;
}
.CMB:after{
	background-image:$CMB;
}
.CIB:after{
	background-image:$CIB;
}
.CEB:after{
	background-image:$CEB;
}
.GDB:after{
	background-image:$GDB;
}
.CNCB:after{
	background-image:$CNCB;
}
.PINGAN:after{
	background-image:$PINGAN;
}
.POSTGC:after{
	background-image:$POSTGC;
}
.COMM:after{
	background-image:$COMM;
}
.SPDB:after{
	background-image:$SPDB;
}
.HXB:after{
	background-image:$HXB;
}
.add{
	margin-top:.75rem;
	margin-left:.85rem;
	padding-left:1rem;
	height:.75rem;
	background-image:$add;
	background-repeat:no-repeat;
	background-size:.75rem .75rem;
	font-size:.65rem;
	line-height:.75rem;
	color:$grey;
}