@import "base";
body{
	float:left;
	margin-bottom:3rem;
	background-color:$lightGrey;
}
section{
	width:16rem;
	height:5rem;
	margin-bottom:.4rem;
	background-color:white;
	box-shadow:0 .025rem .025rem 0 $bitGrey;
	h1{
		float:left;
		margin:0 .85rem;
		width:14.3rem;
		height:1.7rem;
		border-bottom:.025rem solid $grey;
		strong{
			float:left;
			font-size:.65rem;
			line-height:1.7rem;
		}
		em{
			float:right;
			margin-top:.64rem;
			font-size:.5rem;
			color:$grey;
			text-align:right;
		}
	}
	.main{
		float:left;
		padding:.75rem .85rem;
		width:16rem;
		height:3.3rem;
		.column1{
			float:left;
			padding-left:.4rem;
			p{
				float:left;
				width:100%;
			}
			p:first-of-type{
				font-size:.5rem;
				color:$grey;
			}
			p:last-of-type{
				padding-top:.3rem;
				color:$orange;
				strong{
					float:left;
					font-size:1.2rem;
				}
				em{
					float:left;
					margin-top:.25rem;
					font-size:.85rem;
				}
			}
		}
		.column2{
			float:left;
			p{
				float:left;
				width:100%;
			}
			p:first-of-type{
				font-size:.5rem;
				color:$grey;
			}
			p:last-of-type{
				padding-top:.8rem;
				color:$heavyGrey;
				strong{
					float:left;
					font-size:.6rem;
				}
				em{
					float:left;
					font-size:.6rem;
				}
			}
		}
		a{
			float:right;
			margin-top:.5rem;
			display:block;
			width:4.4rem;
			height:1.3rem;
			background-color:$orange;
			font-size:.65rem;
			line-height:1.3rem;
			color:white;
			text-align:center;
			border-radius:.25rem;
		}
	}
}
.part1{
	width:16rem;
	overflow:hidden;
	background-color:white;
	box-shadow:0 .025rem .025rem 0 $bitGrey;
	> h1{
		margin:1.075rem .85rem;
		strong{
			font-size:1.7rem;
			color:$orange;
		}
		em{
			font-size:1.25rem;
			color:$orange;
		}
		span{
			font-size:.5rem;
			color:$grey;
		}
		b{
			float:right;
			margin-top:1.2rem;
			font-size:.5rem;
			color:$grey;
		}
	}
	ul{
		margin-bottom:.625rem;
		display:-webkit-flex;
		li{
			-webkit-flex:1;
			text-align:center;
			border-right:solid .025rem $bitGrey;
			p:first-of-type{
				font-size:.65rem;
				color:$heavyGrey;
			}
			p:last-of-type{
				margin-top:.25rem;
				font-size:.5rem;
				color:$grey;
			}
		}
		li:last-of-type{
			border:none;
		}
	}
	> p{
		font-size:.5rem;
		height:1.4rem;
		line-height:1.4rem;
		text-align:center;
		border-top:solid .025rem $bitGrey;
		i{
			display:inline-block;
			width:.375rem;
			height:.5rem;
			background-image:$signature;
			background-size:.375rem .5rem;
			vertical-align:middle;
		}
		span{
			margin-left:.15rem;
			color:$grey;
		}
	}
}
.part2{
	margin-top:.4rem;
	width:16rem;
	height:7.6rem;
	background-color:white;
	box-shadow:0 .025rem .025rem 0 $bitGrey;
	p{
		margin-left:.85rem;
		height:1.9rem;
		line-height:1.9rem;
		border-bottom:solid .025rem $bitGrey;
		span{
			float:left;
			font-size:.55rem;
			color:$heavyGrey;
		}
		em{
			float:right;
			margin-right:.85rem;
			font-size:.5rem;
			color:$grey;
		}
	}
	p:last-of-type{
		border-bottom:none;
	}
}
.part3{
	margin-top:.4rem;
	background-color:white;
	div{
		float:left;
		margin:.25rem 0;
		padding:.375rem 0;
		width:8rem;
		text-align:center;
		p:first-of-type{
			font-size:.75rem;
			color:$orange;
		}
		p:last-of-type{
			margin-top:.325rem;
			font-size:.55rem;
			color:$grey;
		}
	}
	div:first-of-type{
		border-right:solid .025rem $bitGrey;
	}
	form{
		float:left;
		border-top:solid .025rem $bitGrey;
		span{
			display:block;
			width:2.15rem;
			font-size:1rem;
			line-height:2rem;
			color:$grey;
		}
		span:first-of-type{
			float:left;
			margin-left:.85rem;
		}
		span:last-of-type{
			float:right;
			margin-right:.85rem;
			direction:rtl;
		}
		.num{
			width:10rem;
			height:2rem;
			font-size:1rem;
			line-height:2rem;
			color:$heavyGrey;
			text-align:center;
		}
		.term{
			position:relative;
			float:left;
			width:100%;
			background-color:$lightGrey;
			font-size:.5rem;
			line-height:1.5rem;
			color:$grey;
			text-align:center;
			box-shadow:0 .025rem .025rem 0 $bitGrey inset;
		}
		.term:after{
			position:absolute;
			top:1.5rem;
			left:0;
			width:16rem;
			height:1.6rem;
			background-color:$lightGrey;
			content:"";
		}
		.longBtn{
			position:relative;
			float:left;
			margin:0 1.35rem;
		}
	}
}
body > .detail{
	h1{
		padding:0 .85rem;
		font-size:.65rem;
		line-height:1.7rem;
		color:$heavyGrey;
	}
	p{
		padding:.4rem .85rem;
		background-color:white;
		word-wrap:break-word; 
		font-size:.55rem;
		line-height:1rem;
		color:$grey;
	}
}
body > ul{
	display:-webkit-flex;
	li{
		text-align:center;
		border-bottom:solid .025rem $bitGrey;
	}
	li:nth-of-type(1){
		-webkit-flex:1;
	}
	li:nth-of-type(2){
		-webkit-flex:1;
	}
	li:nth-of-type(3){
		-webkit-flex:2;
	}
}
body > ul:first-of-type{
	li{
		font-size:.6rem;
		line-height:1.7rem;
		color:$heavyGrey;
	}
}
body > ul:nth-of-type(n+2){
	li{
		background-color:white;
		font-size:.55rem;
		line-height:1.9rem;
		color:$darkGrey;
	}
}