@import "variable";
@import "base";
body{
	background-color:$lightGrey;
}
section{
	width:16rem;
	height:5rem;
	margin-bottom:.4rem;
	background-color:white;
	border-bottom:.025rem solid $grey;
	box-shadow:0 .025rem .025rem 0 $grey;
	h1{
		float:left;
		margin:0 .85rem;
		width:14.3rem;
		height:1.7rem;
		line-height:1.7rem;
		border-bottom:.025rem solid $grey;
		strong{
			font-size:.65rem;
		}
		em{
			float:right;
			margin-top:1rem;
			font-size:.5rem;
			color:$grey;
			line-height:1;
			text-align:right;
		}
	}
	.main{
		float:left;
		padding:.75rem .85rem;
		width:16rem;
		height:3.3rem;
		.column1{
			float:left;
			padding-left:.4rem;
		}
		.column2{
			float:left;
		}
		.column1 span, .column2 span{
			font-size:.5rem;
			color:$grey;
		}
		a{
			float:right;
			margin-top:.5rem;
			display:block;
			width:4.4rem;
			height:1.3rem;
			background-color:$orange;
			font-size:.65rem;
			line-height:1.3rem;
			color:white;
			text-align:center;
			border-radius:.25rem;
		}
	}
}