@import "base";
body{
	background-color:$lightGrey;
}
.total{
	position:relative;
	padding-top:2.8rem;
	height:6rem;
	background-color:$orange;
	font-size:1.25rem;
	color:white;
	text-align:center;
}
.total:before{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-2.425rem;
	margin-left:-2.425rem;
	padding-top:.75rem;
	width:4.85rem;
	height:4.85rem;
	content:"累计收益";
	font-size:.65rem;
	color:white;
	border:.15rem solid $whiteOrange;
	border-radius:50%;
}
menu{
	float:left;
	background-color:white;
	box-shadow:0 .025rem .025rem $bitGrey;
	a{
		position:relative;
		color:$darkGrey;
		text-align:center;
		h1{
			margin-top:.4rem;
			font-size:.55rem;
		}
		h2{
			margin-top:.1rem;
			font-size:.75rem;
		}
	}
	a:nth-of-type(1):after, a:nth-of-type(2):after{
		position:absolute;
		top:.225rem;
		right:0;
		content:"";
		height:1.7rem;
		border-right:solid .025rem white;
	}
	a.current{
		color:$orange;
		border-bottom:.1rem solid $orange;
	}
}
.content{
	margin-top:.4rem;
}
section{
	position:relative;
	float:left;
	margin-top:.4rem;
	padding:0 .85rem;
	width:16rem;
	background-color:white;
	box-shadow:0 .025rem .025rem $bitGrey;
	h1{
		height:1.7rem;
		border-bottom:.025rem solid $bitGrey;
		b{
			float:left;
			font-size:.65rem;
			line-height:1.7rem;
			color:$heavyGrey;
		}
		span{
			float:right;
			margin-top:.625rem;
			font-size:.5rem;
			color:$darkGrey;
		}
	}
	p{
		font-size:.55rem;
		color:$darkGrey;
	}
	p:first-of-type{
		margin-top:.75rem;
	}
	p:last-of-type{
		margin-top:.3rem;
		margin-bottom:.75rem;
		b{
			font-size:.75rem;
			color:$orange;
		}
	}
	em{
		position:absolute;
		right:.85rem;
		bottom:1rem;
		padding:.1rem .3rem;
		font-size:.65rem;
		color:$bitGrey;
		border:.025rem solid $bitGrey;
		border-radius:.075rem;
	}
}