@import "base";
.part1{
	position:relative;
	padding-top:1.6rem;
	height:4.65rem;
	background-image:$common;
	background-repeat:no-repeat;
	background-position:.825rem .825rem;
	background-size:3rem 3rem;
	p{
		margin-left:4rem;
		font-size:.55rem;
		color:$darkGrey;
	}
	p:last-of-type{
		margin-top:.2rem;
		b{
			margin-left:.1rem;
			font-size:.9rem;
			color:$orange;
		}
	}
	.btnSign{
		position:absolute;
		top:1.35rem;
		right:.85rem;
		width:1rem;
		height:1rem;
		background-image:$sign;
	}
	.btnSign:after{
		position:absolute;
		top:1.25rem;
		left:-.05rem;
		width:1.1rem;
		content:"签到";
		font-size:.55rem;
		color:$darkGrey;
	}
}
.entrance{
	float:left;
	display:block;
	width:16rem;
	height:14.5rem;
	background-image:$img_score;
	background-size:16rem 14.5rem;
}
.record{
	padding:0 .85rem;
	h1{
		font-size:.65rem;
		font-weight:bold;
		line-height:1.65rem;
		color:$heavyGrey;
		border-bottom:solid .025rem $bitGrey;
	}
	ul{
		margin-top:.5rem;
		display:-webkit-flex;
		li{
			-webkit-flex:1;
			font-size:.5rem;
			text-align:center;
		}
	}
	ul:first-of-type{
		margin-top:.75rem;
		li{
			font-size:.55rem;
			color:$darkGrey;
		}
	}
	.default{
		margin:2rem auto;
		width:7.6rem;
		height:7.75rem;
		background-image:$default;
		background-size:7.6rem 7.75rem;
	}
}
.sign{
	height:25.7rem;
	background-image:$img_sign;
	text-align:center;
	b{
		display:block;
		font-size:3.45rem;
		font-weight:bold;
		line-height:10rem;
		color:$lightOrange;
		letter-spacing:-.15rem;
		text-shadow:.15rem 0 .15rem $brown;
		-webkit-text-stroke:.1rem white;
		-webkit-transform:scale(1, .8);
	}
}