$heavyGrey:rgb(51, 51, 51);
$darkGrey:rgb(102, 102, 102);
$grey:rgb(153, 153, 153);
$bitGrey:rgb(204, 204, 204);
$lightGrey:rgb(244, 244, 244);
$brown:rgb(128, 64, 0);
$orange:rgb(255, 119, 74);
$icon48:url(../images/icon48.png);